{% extends 'dev_base.html' %}

{% block title %}
<title>reset password</title>
{% endblock %}

{% block main %}
<form action="/change_password" method="post">

  <div>
    <span>old password</span>
    <input type="password" name="old_password"/>
    {% if err_msg.old_password%}
    <span>{{err_msg.old_password}}</span>
    {% endif %}
  </div>

  <div>
    <span>password</span>
    <input type="password" name="password_1"/>
    {% if err_msg.password_1%}
    <span>{{err_msg.password_1}}</span>
    {% endif %}
  </div>

  <div>
    <span>password confirm</span>
    <input type="password" name="password_2"/>
    {% if err_msg.password_2%}
    <span>{{err_msg.password_2}}</span>
    {% endif %}
  </div>


    {% if err_msg._form%}
  <div>
    <span>form:{{err_msg._form}}</span>
  </div>
    {% endif %}

    {{ xsrf_form_html() }}

  <div>
    <input type="submit" value="submit"/>
  </div>
  </form>
{% endblock %}
