<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style/KUG.css" type="text/css" />
  </head>
  <body>
    <h1>{{name}}</h1>

    {% for entry in entries %}
    <div id="id_{{fid}}.{{entry['eid']}}">
      <h2>{{entry['title']}}</h2>
      {{entry['content']}}
    </div>
    <p class="pagebreak">&nbsp;</p>
    {% endfor %}

  </body>
</html>
