<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>目录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1><b>目录</b></h1>
    <br />

    {% for feed in feeds %}
        <h3><b>{{feed['name']}}</b></h3>
        <ul>
          {% for entry in feed.entries %}
          <li><a href="{{feed['fid']}}.html#id_{{feed['fid']}}.{{entry['eid']}}">{{entry['title']}}</a></li>
          {% endfor %}
        </ul>
    {% endfor %}
  </body>
</html>
